.App {
  text-align: center;
}

div {
  border: 4px solid salmon;
}

.list {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
.listItem {
  margin: 1rem;
  display: grid;
}
.listItem img {
  height: 100%;
  width: 100%;
}
.listItem .listItemText {
  display: grid;
  align-items: center;
}
.recipeImg {
}
